* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: rgb(250 247 254);
}

.app-hed {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app-hed select {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 70%;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    margin: 20px;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-hed select:active {
    border: none;
}

.app-hed select option {
    margin: 1000px;
}

.recipe-hero {
    background-color: rgb(194, 147, 255);
    display: flex;
    flex-direction: row;
    width: 50%;

}

.recipe-image {
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
}

.recipe-image img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    aspect-ratio: 1;
    padding: 4px;
}

.recipe-detail {
    width: 55%;
    display: flex;
    flex-direction: column;


}

.recipe-detail .rec-name {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    font-size: 18px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description {
    width: 80%;
    color: gray;
    margin: 10px 0px 0px 10px;
}

.mini-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mini-card .card {
    width: 100px;
    min-height: 60px;
    background-color: rgb(193, 193, 193);
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}

.card .top {
    width: 100%;
    display: flex;
    margin: 10px 5px 10px 5px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.card .bot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: gray;
}

.start {
    width: 100%;
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start button {
    width: 250px;
    height: 45px;
    padding: 10px 10px 10px 20px;
    background: linear-gradient(90deg, rgb(122 80 240), rgb(170 90 240));
    display: flex;
    text-align: start;
    align-items: center;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 35px;

}

.grid-left{
    background-color: rgb(255, 210, 210);
    display: flex;
    flex-direction: column;
    width: 50%;

}
.grid-left h3{
       background-color: rgb(255, 136, 136);
    width: 90%;
    padding: 5px;
    margin: 10px;
}
.ingredient{
display: flex;
flex-direction: row;
width: 100%;

}.ing-name{
    width: 60%;

}